.attendee-statistics .row {
    margin: 0;
}

.attendee-statistics h6 {
    text-align: center;
}

.attendee-statistics .MuiPaper-root {
    max-width: unset;
    margin: 0;
}

.attendee-statistics .MuiList-root {
    margin: 0;
}

.attendee-statistics .row div {
    padding: 5px;
}

.attendee-statistics .attendee-graph {
    height: 350px; 
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 3px;
}

.attendee-statistics .attendee-statistics-data {
    height: 150px; 
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 3px;
}

.attendee-statistics .mixed-chart {
    height: 330px;
}